.idea/
.idea/*
.run/
.run/*

Build/bin
Build/bin/*
Build/obj
Build/obj/*

SharpGuiConverter/bin
SharpGuiConverter/bin/*
SharpGuiConverter/obj
SharpGuiConverter/obj/*

release_binaries
release_binaries/*
